.azul{
    background-color: rgb(139, 139, 248);
}
.borde{
    border: chocolate;
}
h5{
    text-align: center;


}
article p{
    font-size: small;
    opacity: 0.5;
    text-align: center;
}
article div{
    background: rgb(248, 240, 226);
}
footer p{
    font-size: small;
    margin: 0;
    
}
.colorNaranja{
    color:orange;
}

.aaa{
    position: absolute;
    left: 50px;
    top: 100px;

}